body {
    background-color: black;
    color: white;
    font-family: 'Quantico', sans-serif;
    }
h1 {
        font-family: 'Quantico', sans-serif;
        font-weight: bolder;
        font-size: 80px;
}

h2 {
     font-family: 'Quantico', sans-serif;
     font-weight: bolder;
     font-size: 60px;

p {
    font-size: 50px;
}
